<h1>Contacts</h1>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Message</th>
    <th>E-mail</th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |contact|}}
    <tr>
      <td>{{contact.message}}</td>
      <td>{{contact.email}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>